.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 10px 15px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color:#eee;
    align-items: center;
}
.task-title{
    cursor: pointer;
    word-break: break-word;
}
.button-container {
    width: 30px;
    display: flex;
    justify-content:flex-end;
    margin-left: 2px;
}
.task-deletion-button,
.see-task-details-button 
{
    background: #444;
    border: none;
    font-size: 20px;
    color: chartreuse;
    cursor: pointer;
    margin: 0 5px;
}